:root {
    --clr-orange: rgb(234, 95, 14);
    --clr-blue: rgb(5, 134, 237);

    --ff-primary: "Inter", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: var(--ff-primary);
}

html,
body {
    height:200%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height:1;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
/* input,
button,
textarea,
select {
  font: inherit;
} */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.grid {
    display:grid;
}

.flex {
    display:flex;
}

.fixed {
    position: fixed;
}


/* Nav section styles begin here */

.navbar {
    color: white;
    justify-content: space-between;
    width:100%;
    padding: 1rem;
    background-color: rgba(15, 15, 15, 0.5);
}

.nav-list {
    list-style: none;
    gap: 1rem;
}

.nav-list > li > a {
    color: white;
}

.nav-list > li > a:hover {
    border-bottom: 2px solid var(--clr-blue);
}

.nav-button {
    border: none;
    background: none;
    color: white;
}



/* Hero section styles begin here */

.hero-grid > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    place-items:center;
}

.hero-grid > img {
    z-index: -1;
}

.hero-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-phrase {
    display: block;
    font-size: 3rem;
    font-weight: 800;
    text-align:justify;
    text-justify:distribute-all-lines;
    margin-bottom: 2rem;
}

.hero-name {
    font-size: 2rem;
    color: var(--clr-blue);
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.hero-job-title {
    font-size:1.2rem;
    font-weight: 500;
}

.hero-action-buttons {
    margin-top: 1rem;
}

.hero-contact-button {
    border: none;
    background: var(--clr-orange);
    color: white;
    padding: 0.5rem 1rem;
    border-radius:2px;
}

.hero-projects-button {
    border: none;
    background: var(--clr-blue);
    color: white;
    padding: 0.5rem 1rem;
    border-radius:2px;
}

.hero-image-mobile {
    display: none;
}

@media screen and (max-width: 500px) {

    .hero-grid {
        max-height: 100vh;
    }
    .hero-grid > img {
        z-index: -1;
    }

    .hero-content h1 {
        font-size:2rem;
    }

    .hero-name {
        font-size: 1.75rem;
        color: white;
        /* color: var(--clr-blue); */
        /* color: rgb(5, 63, 237); */
        font-weight: 600;
        margin-bottom: 0.7rem;
    }

    .hero-image {
        display: none;
    }

    .hero-phrase {
        padding:0 1rem;
        text-align:center;
        text-justify:none;

    }

    /* .hero-break {
        display:none;
    } */

    .hero-image-mobile {
        display: block;
        /* object-fit:fill; */
        width:100%;
        object-fit:cover;    
        max-height: 100vh; 
        /* min-width:100%; */
    }
}