:root {
    --clr-orange: rgb(234, 95, 14);
    --clr-blue: rgb(5, 134, 237);

    --clr-blue-light: rgb(54, 154, 235);
    --bg-dark: rgba(0,0,0);
    --bg-dark-50: rgba(15, 15, 15, 0.5);
    --ff-primary: "Inter", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: var(--ff-primary);
  /* font-size: 18px; */
}


@media screen and (min-width: 1000px) {
    * {
        font-size: 18px;
    }
}

html,
body {
    height:200%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height:1;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

span {
    font: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.heading > span {
    color: var(--clr-blue);
}

@media screen and (max-width: 500px) {
    .heading {
        text-align: center;
        width:100%;
    }
}

.section {
    min-height: 500px;
    padding: 5rem 0;
    position: relative;
}

.relative {
    position: relative;
}

.bg-dark {
    background-color: var(--bg-dark);
}

.container {
    position:relative;
}

@media screen and (min-width: 500px) {
    .container {
        width:90%;
        max-width:1000px;
        margin: auto;
        position: relative;
    }
}

.grid {
    display:grid;
}

.grid-stack > * {
    place-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.grid-stack-bottom > * {
    /* place-content:end center; */
    align-content:end;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.grid-stack-left > * {
    /* place-content: center; */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.flex {
    display:flex;
}

.flex-column {
    flex-direction: column;
}

.fixed {
    position: fixed;
}

.error {
    color: red;
}

.image-rounded {
    border-radius:5%;
}

/* Nav section styles begin here */

.mobile-logo {  
    display: none;
    z-index: 9999;

}

.navbar {
    color: white;
    justify-content: space-between;
    width:100%;
    padding: 1rem;
    background-color: var(--bg-dark-50);
    z-index: 9999;
}

.nav-list {
    list-style: none;
    gap: 1rem;
}

.nav-list > li > a {
    color: white;
}

.nav-list > li > a:hover {
    border-bottom: 2px solid var(--clr-blue);
}

.nav-button {
    border: none;
    background: none;
    color: white;
}

@media (hover:none) and (max-width: 600px) {
    .mobile-logo {
        background-color: var(--bg-dark-50);
        color: white;
        padding: 1rem;
        width:100%;
        display: block;
        position:fixed;

    }

    .large-screen-logo {
        display: none;
    }

    .navbar {
        position: fixed;
        inset: auto auto 0 auto;
    }

    .navbar > nav {
        width: 100%;
    }
    .nav-list {
        width: 100%;
        justify-content: space-between;
        flex-grow: 1;
    }
}

/* Hero section styles begin here */

.hero-grid > * {
    color: white;
}

.hero-grid > img {
    z-index: -1;
}

@media screen and (min-width: 700px) {
    .hero-image {
        width:100%;
    }
}

.hero-content {
    padding:1rem;
    align-items: start;
    width: min(400px, 90%);
    margin: auto;
}


.hero-phrase {
    display: inline;
    padding:0;
    text-align: left;
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-name {
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: var(--clr-blue);
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.hero-job-title {
    font-size:clamp(1rem, 2vw, 2rem);
    font-weight: 500;
}

.hero-city {
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
    margin-bottom:1rem;
}

.button {
    border: none;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius:2px;
    font-size: 1rem;    
}


.button-orange {
    background: var(--clr-orange);
}

.button-blue {
    background: var(--clr-blue);
}

.hero-image {
    display: none;
}

.hero-image-mobile {
    display: block;
    width:100%;
    object-fit:cover;
    min-height:100%;    
}

@media (hover: none) and (max-width: 600px) {
    .hero-image-mobile {
        height:100vh;
    }
}

@media screen and (max-width: 325px) {

    .action-button-container {
        display:flex;
        flex-wrap: wrap;
        gap:0.5rem;
    } 

    .button {
        flex-grow: 1;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .hero-content {
        width: min(450px, 90%);
        padding: 0 0 0 5rem;
        align-items: start;
        margin: 0;
    }

    .hero-phrase {
        text-align:left;
    }

    .hero-image {
        display: block;
    }

    .hero-image-mobile {
        display: none;
    }
}

@media screen and (min-width: 850px) {
    .hero-content {
        width: min(500px, 90%)
    }
}

@media screen and (min-width: 1000px) {
    .hero-content {
        width: min(700px, 90%);
    }
}

@media screen and (min-width: 1400px) {
    .hero-content {
        margin: auto;
        padding: 0;
    }
}


/* Project section styles */

.project-content-container {
    padding: 2rem 1rem 1rem;
}

.project-content-heading {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom:0.5rem;
}

.project-image-buttons-container {
    align-items:end;
    padding: 0 0.5rem 1rem;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.project-image {
    object-fit: cover;
    min-width: 100%;
    min-height: 400px;
    max-height: 600px;
}

@media screen and (min-width: 500px) {
    .project-image-buttons-container > * {
        flex-basis: min(160px, 35%);
        flex-grow:0;
    }

    .project-image {
        border-radius: 10px / 10px;
    }    
}

/* About section styles */

.about-container {
    color:white;
    flex-wrap:wrap;
}

.about-heading {
    color: white;
    position: relative;
    font-size: clamp(1.5rem, 8vh, 4rem);
    font-weight: 700;
    z-index: 10;
}

.about-image-container {
    position: relative;
}

.about-picture {
    min-height: 100%;
    object-fit: cover;
    border-radius:5%;
}

.about-action-mobile {
    width: 100%;
    position: absolute;
    inset: auto auto 1rem auto;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.about-action-large {
    display: none;
}

.about-description-container {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.stat {
    margin-bottom: 1rem;
}

.stat-heading {
    color: var(--clr-blue-light);
    margin-bottom:0.25rem;
}

.stat-answer > i {
    font-size: 1.5rem;
}

@media screen and (min-width: 500px) {
    .about-heading {
        padding-left: 0;
        font-size: clamp(2.25rem, 8vw, 6rem);
    }

    .about-image-container {
        max-width: 50%;
    }

    .about-action-mobile {
        display: none;
    }

    .about-action-large {
        display: flex;
        flex-wrap: wrap;
        gap:0.5rem;
    }

    .about-action-large > * {
        flex-grow: 1;
        max-width: 150px;
    }

    .about-description-container {
        max-width: 50%;
    }
}

/***
***
Contact section styles 
***
***/

.contact-container {
    flex-direction: column;
}

.contact-content-container {
    padding: 1rem;
}

.contact-heading {
    position: relative;
    font-size: clamp(1.5rem, 8vh, 4rem);
    font-weight: 700;
    z-index: 10;
}

.contact-content-container {
    padding-top: clamp(1rem, 2vw, 2rem);
}

.form-description {
    margin-bottom: 1rem;
}

.control-group {
    flex-direction: column;
    margin-bottom: 1rem;
}

.control-group > label {
    font-weight:600;
    color: black;
    border-radius: 5px 5px 0px 0px;
}

.control-group > input, textarea {
    padding: 0.5rem 0.5rem;
}

@media screen and (min-width: 500px) {
    .contact-content-container {
        padding: 1rem 0;
        margin: auto;
    }

    .contact-heading {
        font-size: clamp(2.25rem, 8vw, 6rem);
    }
}

@media screen and (min-width: 1000px) {
    .contact-container {
        display:flex;
    }

    .contact-content-container {
        max-width: 75%;
        padding-right:1rem;
    }
}