:root {
    --clr-orange: rgb(234, 95, 14);
    --clr-blue: rgb(5, 134, 237);

    --ff-primary: "Inter", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: var(--ff-primary);
}

html,
body {
    height:200%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height:1;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
/* input,
button,
textarea,
select {
  font: inherit;
} */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.grid {
    display:grid;
}

.grid-stack > * {
    place-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.flex {
    display:flex;
}

.flex-column {
    flex-direction: column;
}

.fixed {
    position: fixed;
}


/* Nav section styles begin here */

.mobile-logo {
    display: none;
}

.navbar {
    color: white;
    justify-content: space-between;
    width:100%;
    padding: 1rem;
    background-color: rgba(15, 15, 15, 0.5);
}

.nav-list {
    list-style: none;
    gap: 1rem;
}

.nav-list > li > a {
    color: white;
}

.nav-list > li > a:hover {
    border-bottom: 2px solid var(--clr-blue);
}

.nav-button {
    border: none;
    background: none;
    color: white;
}

@media (hover:none) and (max-width: 600px) {
    .mobile-logo {
        background-color: rgba(15, 15, 15, 0.5);
        color: white;
        padding: 1rem;
        width:100%;
        display: block;
        position:fixed;

    }

    .large-screen-logo {
        display: none;
    }

    .navbar {
        position: fixed;
        inset: auto auto 0 auto;
    }

    .navbar > nav {
        width: 100%;
    }
    .nav-list {
        width: 100%;
        justify-content: space-between;
        flex-grow: 1;
    }
}


/* Hero section styles begin here */

.hero-grid > * {
    color: white;
}

.hero-grid > img {
    z-index: -1;
}

@media screen and (min-width: 700px) {
    .hero-image {
        width:100%;
    }
}

.hero-content {
    padding:1rem;
    align-items: start;
    width: min(400px, 90%);
    margin: auto;
}


.hero-phrase {
    display: inline;
    padding:0;
    text-align: left;
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-name {
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: var(--clr-blue);
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.hero-job-title {
    font-size:clamp(1rem, 2vw, 2rem);
    font-weight: 500;
}

.hero-city {
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
}
.hero-action-buttons {
    margin-top: 1rem;
}

.hero-button {
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius:2px;
    font-size: 1rem;    
}

.button-orange {
    background: var(--clr-orange);
}

.button-blue {
    background: var(--clr-blue);
}

.hero-image {
    display: none;
}

.hero-image-mobile {
    display: block;
    width:100%;
    object-fit:cover;    
}

@media screen and (min-width: 600px) {
    .hero-content {
        width: min(450px, 90%);
        padding: 0 0 0 5rem;
        align-items: start;
        margin: 0;
    }

    .hero-phrase {
        text-align:left;
    }

    .hero-image {
        display: block;
    }

    .hero-image-mobile {
        display: none;
    }
}

@media screen and (min-width: 850px) {
    .hero-content {
        width: min(500px, 90%)
    }
}

@media screen and (min-width: 1000px) {
    .hero-content {
        width: min(700px, 90%);
    }
}

@media screen and (min-width: 1400px) {
    .hero-content {
        margin: auto;
        padding: 0;
    }
}